<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Title: 
    <span *ngIf = "!editableTitle; else editTitleBlock" >
      <span class = "editable-text" (click)="editableTitle=true;"> {{ titleName }}</span>
    </span>
    <ng-template #editTitleBlock>
      <input #title (keyup.enter) = "updateTitle(title.value)" value= "{{titleName}}"/>
      <button (click) = "updateTitle(title.value)">Update</button>
    </ng-template>
  </h1>
  <h2> City: {{cityName}};

  </h2>
</div>
<div class="row">
  <div class="column">
    <app-animals></app-animals>
  </div>
  <div class="column">
    <app-foooooood></app-foooooood>
  </div>
</div>

