
<div style="text-align:center">
  <h1> Title: 
    <span *ngIf = "!editableTitle; else editTitleBlock" >
      <span class = "editable-text" (click)="editableTitle=true;"> {{ titleName }}</span>
    </span>
    <ng-template #editTitleBlock>
      <input #title (keyup.enter) = "updateTitle(title.value)" value= "{{titleName}}"/>
      <button (click) = "updateTitle(title.value)">Update</button>
    </ng-template>
  </h1>

 <!-- Make city editable --> 
  <h2> City: 
    <span *ngIf = "!editableCity; else editCityBlock">
      <span class = "editable-text" (click) = "editableCity=true;"> {{cityName}} </span>
    </span>
    <ng-template #editCityBlock>
      <input #city (keyup.enter) = "updateCity(city.value)" value = "{{cityName}}"/>
      <button (click) = "updateCity(city.value)">Update</button>
    </ng-template>
    

  </h2>
</div>
<div class="row">
  <div class="column">
    <app-animals></app-animals>
  </div>
  <div class="column">
    <app-foooooood></app-foooooood>
  </div>
</div>
<hr>
<div class="row">
  <app-table></app-table>
</div>

