<h3>What our animals eat</h3>
<ol>
    <!-- replace with loop -->
    <li *ngFor = "let item of food">{{item}}
        <button [class.active]= "maxFood === 3" [disabled] = "enabled()" (click) = "addFoodToPlate(item)">Add</button> 
    </li>
    
        <!-- add button to add Food to a plate -->
        <!-- disable the button -->
        <!-- create styles for enabled button -->

    <!-- add input and a button to add a new animal -->
    <input #newFood (keyup.enter) = "addFood(newFood.value)" type="text" placeholder = "foooood"/>
    <button (click) = "addFood(newFood.value)">Add</button>
</ol>
    <hr>
    <li *ngFor = "let item of plate">{{item}} </li>
